<div class="main-text">
    <div class="about-me">
        <section class="section">
            <div class = "picture">
                <img src= "https://mail.google.com/mail/u/0?ui=2&ik=a609e2adff&attid=0.1&permmsgid=msg-a:r-1331871488635534332&th=176e322da94aa7e9&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-sWq8fprYR6OtCBID0CaBJDHvhHDOyumyhEFB6JPzs_F-Azlq6K_NgwHZN8y6lCVKSIRVvo_xBAcemzWXiitjqw84L7EbA_ZrDcLGyCFdXIs8Vc52vZoDm7hU&disp=emb&realattid=ii_kjokwzac0" width="480" height="600">
            </div>
            <div class="info has-text-centered">
                <h1 class="about-heading">Matthew Winn</h1>
                <p class="pbody">Born and raised in Montgomery County, Maryland. I'm currently in my senior year of high school
                        at Winston Chuchill High School with plans to pursue computer science in college. I've completed two AP computer science courses in school, as well as two computer programming courses at a local college.
                        Currently working on designing websites for local buisnesses.

                    </p>
            </div>
        </section>
        <div class="cards">
        <div class="card">
            <h1>Engage</h1>
                <div class="card__content">
                <br>
                <p>Motivated to uncover innovative opportunities to integrate technology into various aspects of life. Presented with a challenge of disseminating information to the student body, I created a code which would automatically send out daily announcements to all students.
                </p>
            </div>
        </div>
        <div class="card">
            <h1>Impact</h1>
            <div class="card__content">
                <br>
                <p>Passionate about identifying ways to be involved in and support efforts against social injustice. I consistently participate in community outreach through food distribution to underprivelaged families and have initiated grassroots effrts to raise funds for social organizations.
                </p>
            </div>
        </div>
        <div class="card">
            <h1>Inspire</h1>
            <div class="card__content">
                <br>
                <p>Cultivating a quality critically important to my personal life and professional development. As the oldest of five children, I've fostered this trait stepping up as the unofficial cheerleader of my club team, and being voted into the role as team captain for my high school dive team.
                </p>
            </div>
        </div>
        </div>
        <div class="skills">
            <div class="list">

            </div>
        </div>
    </div>
    </div>