<div class="cards">
    <!-- <div class="card">
        <img src="https://i.pcmag.com/imagery/reviews/05fRE6utWAtXmByTrwqgdcU-9..1569481702.jpg" class="card__image">
        <div class="card__content">
            <h1>Zoom Integrated Website</h1>
            <br>
            <p>A zoom integrated website using their open source api. This website is used to automate joining zoom meetings
                so that people are never late to their meeting. My intention is for students to use this app in order to not miss class
                in the morning so they don't get marked absent. Written using angularJS in VSCode.
            </p>
        </div>
        <div class="card__info">
            <div>
                Web Development
            </div>
            <div>
                <a class="card__link">Currently in Progress</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://images.samsung.com/is/image/samsung/assets/nz/support/mobile-devices/how-can-i-personalise-and-turn-predictive-text-on-and-off-on-my-samsung-galaxy-device/1.png?$1156_n_PNG$" class="card__image">
        <div class="card__content">
            <h1>Text Blaster</h1>
            <br>
            <p> Manual text blaster. Served as a daily announcements for students at my school. The script is used to send 
                what ever message you want to what ever phone numbers you have recorded. Scripted in python harnessing the Twilio 
                automation.
            </p>
            <br>
            <br>
            <br>
        </div>
        <div class="card__info">
            <div>
                Python Programming
            </div>
            <div>
                <a href="https://github.com/MNWinn/School-Announcements" class="card__link">View Project</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=a609e2adff&attid=0.1&permmsgid=msg-a:r-284064039203922083&th=1770306cf2d89164&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-3bZEElH9tDJuaL6vffcIVQHRPHVixvM1qsXz-J10GMmcPsTZpjWgYzRcxFuCBNeOwF7GnZRtqnl6wFd0DFZsIQXbOVpHoN6DBaZaEcpgCjLnqPUO4RS0mxH0&disp=emb&realattid=ii_kjxfgswu0" class="card__image">
        <div class="card__content">
            <h1>Twitch Livestream Fundraiser</h1>
            <br>
            <p>Spearheaded a livestream fundraiser for The Bail Project raising over $4200. Delegated tasks like advertising, 
                marketing, gathering materials, etc. Also managed the technical aspects of the stream so there wouldn't be issues
                 while going live.
            </p>
            <br><br><br>
        </div>
        <div class="card__info">
            <div>
                Fundraising
            </div>
            <div>
                <a href="https://tiltify.com/@mnwinn/blacklivesmatterstream" class="card__link">View Project</a>
            </div>
        </div>
    </div>
     -->
     
</div>
<div class="body">
<div class="container">
    <div class="card">
             <div class="circle">
                 <h2>Text Blaster Service</h2>
                 <img src= "assets/images/twitch.png" class="circle_image">
             </div>
             <div class ="content">
                 <p>Script developed with python to send a mass distribution of a text message.</p>
                 <a href="https://github.com/MNWinn/School-Announcements">Check it out</a>
             </div>
         </div>
         <div class="card">
            <div class="circle">
                <h2>Livesstream</h2>
            </div>
            <div class ="content" background="assets/images/twitch.jpg">
                <p>Led an event to raise funds towards the Black Lives Matter movement. Raised over $4200 in under 24 hours for "The Bail Project."</p>
                <a href="https://tiltify.com/@mnwinn/blacklivesmatterstream">Check it out</a>
            </div>
        </div>
        <div class="card">
             <div class="circle">
                 <h2>ZoomWeb</h2>
             </div>
             <div class ="content">
                 <p>A website integrated with Zoom using open source api. </p>
               
                 <a href="/Projects">Coming Soon</a>
             </div>
         </div>
        <div class="card">
        <div class="circle">
            <h2>Website Creation</h2>
        </div>
            <div class ="content">
                <p>Development and design of websites for local buisneses. If website currently exists, leverage VSCode to redesign.</p>
             
                <a href="/Projects">Coming Soon</a>
            </div>
        </div>
         
         
</div>
</div>