<div classs="contact-container">
    <h1 class = "title">Get in touch</h1>
</div>
<div class="section">
    <div class="contact-info has-text-centered">
     <h1>mnwinn02@gmail.com</h1>
     <h1>240-274-5675</h1>
    </div>
    <div class="socials has-text-centered">
        <a class="emails" href="https://mail.google.com/mail/?view=cm&fs=1&to=mnwinn02@gmail.com&su=SUBJECT&body=BODY&bcc=mnwinn02@gmail.com"><img src="https://i.ibb.co/HX6Wrvc/email.webp" alt="circle email" id="emails"></a>
        <a class="linkedins" href="https://www.linkedin.com/in/mathew-w-a66166188/"><img src="https://i.ibb.co/MsNp895/linkedin.webp" alt="circle linkedin" id="linkedins"></a>
        <a class="githubs" href="https://github.com/MNWinn?tab=repositories"><img src="https://i.ibb.co/r6sBnZh/github.png" alt="circle github" id="githubs"></a>
        <a class="githubs" href="https://www.twitch.tv/mnwinn"><img src="https://i.ibb.co/2Fkdksd/twitchI.webp" alt="circle github" id="githubs"></a>
    </div>
    <br>
    <br>
    <div class="handhskae_img has-text-centered">
        <img class="hands1" src="https://i.ibb.co/P5f2267/handhsake.png">
    </div>
</div>

