.title{
    margin:0%;
    position: relative;
    text-align: center;
    // padding-left: 46.5%;
    padding-top: 50px;
}
.socials{
    // border: 3px solid crimson;
    padding-top: 50px;
  }
  .emails{
    // border: 3px solid crimson;
    padding-left: 30px;
    padding-right:30px;
  }
  .githubs{
    padding-left: 30px;
    padding-right:30px;
  }
  .linkedins{
    padding-left: 30px;
    padding-right:30px;
  }
  #emails{
    width: 25px;
    height:25px;
  }
  #githubs{
    width: 25px;
    height:25px;
  }
  #linkedins{
    width: 25px;
    height:25px;
  }
  @media screen and (max-width: 400px){
    .socials{
      padding-left: 0%;
      padding-right: 0%;
    }
    .header{
      font-size: 35px;
    }
    .subtitle{
      font-size: 7px;
    }
    #emails{
      width: 17px;
      height:17px;
    }
    #githubs{
      width: 17px;
      height:17px;
    }
    #linkedins{
      width: 17px;
      height:17px;
    }
  }