.title{
    margin:0%;
    position: relative;
    text-align: center;
    // padding-left: 46.5%;
    padding-top: 50px;
}
.socials{
    // border: 3px solid crimson;
    padding-top: 50px;
  }
  .emails{
    // border: 3px solid crimson;
    padding-left: 30px;
    padding-right:30px;
  }
  .githubs{
    padding-left: 30px;
    padding-right:30px;
  }
  .linkedins{
    padding-left: 30px;
    padding-right:30px;
  }
  #emails{
    width: 25px;
    height:25px;
  }
  #githubs{
    width: 25px;
    height:25px;
  }
  #linkedins{
    width: 25px;
    height:25px;
  }
  