.navbar {
    // position: relative;
    // display:inline;
  }
  .navbar{
    &.is-transparent{
        background-color: transparent;
        background-image:none;
        // text-align: center;
    }
  }
  a.navbar-item:hover {
    color: #222222;
  }
  .navbar-item{
    display: inline-block;
    color: rgba(165, 141, 141, .4);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
    padding: .5em;
    margin: 0;
  }
  .navbar-menu{
      padding: 0 5%
  }
  // @media screen and (min-width: 1088px) {
  //   .my-navbar {
  //     display: block !important;
  //   }
  //   .my-navbar .navbar-brand {
  //     display: none;
  //   }
  //   #my-navbar-menu {
  //     width: 600px;
  //     margin: 0 auto;
  //   }
  //   #my-navbar-menu>div {
  //     flex: 1;
  //   }
  //   #my-navbar-menu>div>div {
  //     flex: 1;
  //     justify-content: center;
  //   }
    
  // }
  
  .main-body{
    padding: 5rem 1rem;
  }
  .footer {
    display: block;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
  }
  .footer{
    &.is-transparent{
        background-color: transparent;
        background-image:none;
        text-align: center;
    }
  }