<div class="particle-background">
    <Particles id="tsparticles" [options]="options"></Particles> 
</div>
<div class="title">
    <div class="header is-uppercase has-text-centered" data-text="Matthew Winn">Matthew Winn</div>
    <br>
    <p class="subtitle has-text-centered">high school student web developer</p>
    <div class="socials has-text-centered">
        <a class="emails" href="https://mail.google.com/mail/?view=cm&fs=1&to=mnwinn02@gmail.com&su=SUBJECT&body=BODY&bcc=mnwinn02@gmail.com"><img src="https://i.ibb.co/HX6Wrvc/email.webp" alt="circle email" id="emails"></a>
        <a class="linkedins" href="https://www.linkedin.com/in/mathew-w-a66166188/"><img src="https://i.ibb.co/MsNp895/linkedin.webp" alt="circle linkedin" id="linkedins"></a>
        <a class="githubs" href="https://github.com/MNWinn?tab=repositories"><img src="https://i.ibb.co/r6sBnZh/github.png" alt="circle github" id="githubs"></a>
        <a class="githubs" href="https://www.twitch.tv/mnwinn"><img src="https://i.ibb.co/2Fkdksd/twitchI.webp" alt="circle github" id="githubs"></a>
    </div>
    <br>
    <div class="thing has-text-centered">
            <button class="button is-medium is-rounded is-dark" (click)="goToPage('Projects')">Check me out</button>
    </div>
  </div>
  
